# What question or variable do you want to model?
## Think about your data sets connection to the real world.  What might be a valuable prediction task using variables from your dataset?  E.g. in our car example in predicting a car’s mpg. 
* Job access + employment access index (what factors influence job access?) (**emp_ovrll_ndx** - job access score 0-10) (**emp_gravity**- employment access index)

## What other variables will you use to model the variable in question?
* Transportation cost (the higher the cost, the less able people are to afford seeking out jobs) **(t_ami)**
* Housing cost (the higher the cost, the less money people have to spend on transportation to seek out jobs), (if housing costs a lot, that indicates the presence of wealthier people who probably have a steady income) **(h_ami)**
* Annual miles travelled (job access would be lower when you have to travel more to find employment) **(vmt_per_hh_ami)**
* Percentage of housing being (??)
* Residential density (areas w/more ppl → more jobs available) **(res_density)**
* Average monthly housing cost (same as housing cost) **(h_cost)**
* Compact neighborhood score (same as residential density) **(compact_ndx)**
* Transit cost (same as transportation) **(transit_cost_ami)**
* Automobile cost (same as transportation) **(auto_ownership_cost_ami)**

## Modeling Type: Supervised Linear Regression
## Modeling: Continuous Data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [4]:
df_jobs = pd.read_csv('texas_affordability_census_tract.csv')
df_jobs

,tract,cbsa,blkgrps,population,households,land_acres,ht_ami,ht_80ami,ht_nmi,h_ami,...,emp_gravity,emp_ndx,block_size,intersection_density,avg_block_perimeter_meters,h_cost,median_smoc,median_gross_rent,pct_owner_occupied_hu,pct_renter_occupied_hu
0,"""48001950100""","""Palestine, TX""",3.0,4782.0,1784.0,119427.88,65.0,77.0,52.0,30.0,...,1277.0,81.0,252.0,6.0,4035,1047.0,1085.0,785.0,83.0,17.0
1,"""48001950401""","""Palestine, TX""",1.0,5166.0,99.0,4089.55,43.0,50.0,35.0,17.0,...,1119.0,80.0,100.0,5.0,2419,576.0,NaN,576.0,13.0,87.0
2,"""48001950402""","""Palestine, TX""",1.0,6802.0,53.0,17908.21,56.0,66.0,45.0,31.0,...,1063.0,80.0,179.0,3.0,4171,1053.0,NaN,1053.0,9.0,91.0
3,"""48001950500""","""Palestine, TX""",4.0,4587.0,1492.0,5693.29,53.0,62.0,43.0,24.0,...,3118.0,82.0,23.0,53.0,1212,834.0,917.0,373.0,61.0,39.0
4,"""48001950600""","""Palestine, TX""",4.0,6658.0,2236.0,5103.13,55.0,64.0,44.0,25.0,...,3465.0,83.0,24.0,65.0,1174,857.0,933.0,750.0,62.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5248,"""48505950400""","""Zapata, TX""",4.0,5979.0,1745.0,630786.51,68.0,82.0,42.0,37.0,...,660.0,75.0,303.0,3.0,5331,983.0,1147.0,435.0,77.0,23.0
5249,"""48507950100""","""""",1.0,1167.0,404.0,275327.07,80.0,96.0,42.0,27.0,...,493.0,77.0,355.0,4.0,4491,593.0,621.0,474.0,81.0,19.0
5250,"""48507950200""","""""",1.0,1939.0,567.0,145983.56,86.0,102.0,45.0,34.0,...,420.0,76.0,246.0,4.0,3408,751.0,819.0,511.0,78.0,22.0
5251,"""48507950301""","""""",2.0,2129.0,671.0,404217.35,50.0,59.0,27.0,16.0,...,1252.0,79.0,123.0,3.0,5008,351.0,NaN,351.0,45.0,55.0
5252,"""48507950302""","""""",5.0,6825.0,1985.0,4811.68,65.0,77.0,34.0,26.0,...,1965.0,81.0,15.0,68.0,1188,583.0,436.0,381.0,70.0,30.0

In [5]:
df_jobs.columns

Index(['tract', 'cbsa', 'blkgrps', 'population', 'households', 'land_acres',
       'ht_ami', 'ht_80ami', 'ht_nmi', 'h_ami', 'h_80ami', 'h_nmi', 't_ami',
       't_80ami', 't_nmi', 'co2_per_hh_local', 'co2_per_acre_local',
       'autos_per_hh_ami', 'autos_per_hh_80ami', 'autos_per_hh_nmi',
       'vmt_per_hh_ami', 'vmt_per_hh_80ami', 'vmt_per_hh_nmi',
       'pct_transit_commuters_ami', 'pct_transit_commuters_80ami',
       'pct_transit_commuters_nmi', 't_cost_ami', 't_cost_80ami', 't_cost_nmi',
       'auto_ownership_cost_ami', 'auto_ownership_cost_80ami',
       'auto_ownership_cost_nmi', 'vmt_cost_ami', 'vmt_cost_80ami',
       'vmt_cost_nmi', 'transit_cost_ami', 'transit_cost_80ami',
       'transit_cost_nmi', 'transit_trips_ami', 'transit_trips_80ami',
       'transit_trips_nmi', 'compact_ndx', 'emp_ovrll_ndx', 'res_density',
       'gross_hh_density', 'hh_gravity', 'frac_sfd', 'emp_gravity', 'emp_ndx',
       'block_size', 'intersection_density', 'avg_block_perimeter_meters',
       'h_cost', 'median_smoc', 'median_gross_rent', 'pct_owner_occupied_hu',
       'pct_renter_occupied_hu'],
      dtype='object')

In [6]:
df = df_jobs[['emp_ovrll_ndx', 'emp_gravity', 't_ami', 'h_ami', 'vmt_per_hh_ami', 'res_density',
              'h_cost', 'compact_ndx', 'transit_cost_ami', 'auto_ownership_cost_ami']]
df

,emp_ovrll_ndx,emp_gravity,t_ami,h_ami,vmt_per_hh_ami,res_density,h_cost,compact_ndx,transit_cost_ami,auto_ownership_cost_ami
0,0.6,1277.0,35.0,30.0,24313.0,0.09,1047.0,0.8,6.0,11253.0
1,1.8,1119.0,26.0,17.0,20263.0,1.78,576.0,7.1,44.0,8005.0
2,1.1,1063.0,25.0,31.0,19613.0,2.05,1053.0,7.4,50.0,7806.0
3,4.5,3118.0,29.0,24.0,21957.0,1.20,834.0,3.8,12.0,9116.0
4,3.7,3465.0,30.0,25.0,22562.0,1.49,857.0,4.8,6.0,9316.0
...,...,...,...,...,...,...,...,...,...,...
5248,5.2,660.0,41.0,37.0,24890.0,1.09,983.0,1.0,44.0,9741.0
5249,0.8,493.0,54.0,27.0,26013.0,0.64,593.0,1.1,25.0,10869.0
5250,1.1,420.0,52.0,34.0,25707.0,0.81,751.0,1.7,31.0,10398.0
5251,3.4,1252.0,42.0,16.0,23186.0,0.30,351.0,1.2,35.0,8237.0
5252,3.2,1965.0,44.0,26.0,22967.0,1.91,583.0,4.2,22.0,8730.0

In [7]:
df.isna().sum()

emp_ovrll_ndx              40
emp_gravity                40
t_ami                      41
h_ami                      52
vmt_per_hh_ami             41
res_density                 0
h_cost                     51
compact_ndx                 0
transit_cost_ami           41
auto_ownership_cost_ami    41
dtype: int64

In [8]:
df.dropna(inplace=True)

<ipython-input-8-c64f9f573c18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [9]:
df

,emp_ovrll_ndx,emp_gravity,t_ami,h_ami,vmt_per_hh_ami,res_density,h_cost,compact_ndx,transit_cost_ami,auto_ownership_cost_ami
0,0.6,1277.0,35.0,30.0,24313.0,0.09,1047.0,0.8,6.0,11253.0
1,1.8,1119.0,26.0,17.0,20263.0,1.78,576.0,7.1,44.0,8005.0
2,1.1,1063.0,25.0,31.0,19613.0,2.05,1053.0,7.4,50.0,7806.0
3,4.5,3118.0,29.0,24.0,21957.0,1.20,834.0,3.8,12.0,9116.0
4,3.7,3465.0,30.0,25.0,22562.0,1.49,857.0,4.8,6.0,9316.0
...,...,...,...,...,...,...,...,...,...,...
5248,5.2,660.0,41.0,37.0,24890.0,1.09,983.0,1.0,44.0,9741.0
5249,0.8,493.0,54.0,27.0,26013.0,0.64,593.0,1.1,25.0,10869.0
5250,1.1,420.0,52.0,34.0,25707.0,0.81,751.0,1.7,31.0,10398.0
5251,3.4,1252.0,42.0,16.0,23186.0,0.30,351.0,1.2,35.0,8237.0
5252,3.2,1965.0,44.0,26.0,22967.0,1.91,583.0,4.2,22.0,8730.0

In [10]:
df['emp_ovrll_ndx'].describe() #4.2 is the 50% mark. half of data is above and half is below 4.2

count    5201.000000
mean        4.098520
std         2.273085
min         0.000000
25%         2.100000
50%         4.200000
75%         5.900000
max         9.800000
Name: emp_ovrll_ndx, dtype: float64

In [11]:
df['emp_gravity'].describe() #less helpful metric to go off of for supervised regression

count      5201.000000
mean      24868.937512
std       29482.620825
min         201.000000
25%        4635.000000
50%       15900.000000
75%       32736.000000
max      249600.000000
Name: emp_gravity, dtype: float64

In [26]:
y = df[['emp_ovrll_ndx']]
x = df.drop(['emp_ovrll_ndx'], axis = 1)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30, random_state=1)

print("x_train", x_train.shape)
print("x_test", x_test.shape)
print("y_train", y_train.shape)
print("y_test", y_test.shape)

x_train (3640, 9)
x_test (1561, 9)
y_train (3640, 1)
y_test (1561, 1)

In [27]:
from sklearn.linear_model import LinearRegression

regression_model = LinearRegression()
regression_model.fit(x_train, y_train)

LinearRegression()

In [28]:
for indx, col_name in enumerate(x_train.columns):
    print("The coefficient for {} is {}".format(col_name, regression_model.coef_[0][indx]))
    
intercept = regression_model.intercept_[0]
print("The intercept for our model is {}".format(intercept))

The coefficient for emp_gravity is 1.3402415265269623e-05
The coefficient for t_ami is -0.08677981424768588
The coefficient for h_ami is -0.0801831567362423
The coefficient for vmt_per_hh_ami is 7.187091882553158e-05
The coefficient for res_density is -0.02971868855326841
The coefficient for h_cost is 0.0026664388436444105
The coefficient for compact_ndx is -0.0949390162649162
The coefficient for transit_cost_ami is 0.001054128650878425
The coefficient for auto_ownership_cost_ami is -0.0013678926327473312
The intercept for our model is 17.664142986016255

In [15]:
print(x_train['t_ami'])

1242    22.0
439     20.0
4104    35.0
4768    24.0
2628    22.0
        ...
917     21.0
5244    29.0
4017    29.0
238     27.0
5209    29.0
Name: t_ami, Length: 3640, dtype: float64

In [16]:
from sklearn.metrics import mean_squared_error as mse

y_predict = regression_model.predict(x_test)

regression_model_mse = mse(y_predict, y_test)
regression_model_mse

1.98532980386659

# Try again with less variables for X

## job access score, transportation cost, housing cost, annuals miles traveled, residential density

In [22]:
newdf = df[['emp_ovrll_ndx', 't_ami', 'h_ami', 'vmt_per_hh_ami', 'res_density']]
newdf

      emp_ovrll_ndx  t_ami  h_ami  vmt_per_hh_ami  res_density
0               0.6   35.0   30.0         24313.0         0.09
1               1.8   26.0   17.0         20263.0         1.78
2               1.1   25.0   31.0         19613.0         2.05
3               4.5   29.0   24.0         21957.0         1.20
4               3.7   30.0   25.0         22562.0         1.49
...             ...    ...    ...             ...          ...
5248            5.2   41.0   37.0         24890.0         1.09
5249            0.8   54.0   27.0         26013.0         0.64
5250            1.1   52.0   34.0         25707.0         0.81
5251            3.4   42.0   16.0         23186.0         0.30
5252            3.2   44.0   26.0         22967.0         1.91

[5201 rows x 5 columns]

In [33]:
y = newdf[['emp_ovrll_ndx']]
x = newdf.drop(['emp_ovrll_ndx'], axis = 1)

#from sklearn.model_selection import train_test_split
x_train2, x_test2, y_train2, y_test2 = train_test_split(x, y, test_size = 0.30, random_state=1)

print("x_train2", x_train2.shape)
print("x_test2", x_test2.shape)
print("y_train2", y_train2.shape)
print("y_test2", y_test2.shape)

x_train2 (3640, 4)
x_test2 (1561, 4)
y_train2 (3640, 1)
y_test2 (1561, 1)

In [34]:
#from sklearn.linear_model import LinearRegression

regression_model2 = LinearRegression()
regression_model2.fit(x_train2, y_train2)

LinearRegression()

In [35]:
for indx, col_name in enumerate(x_train2.columns):
    print("The coefficient for {} is {}".format(col_name, regression_model2.coef_[0][indx]))
    
intercept2 = regression_model2.intercept_[0]
print("The intercept for our model is {}".format(intercept2))

The coefficient for t_ami is -0.13123423018731342
The coefficient for h_ami is 0.05047113644227863
The coefficient for vmt_per_hh_ami is -0.000409391841678937
The coefficient for res_density is -0.017997120636960642
The intercept for our model is 15.156472791428982

In [37]:
#from sklearn.metrics import mean_squared_error as mse

y_predict2 = regression_model2.predict(x_test2)

regression_model_mse2 = mse(y_predict2, y_test2)
regression_model_mse2

2.170283927895208

In [ ]:
import matplotlib.pyplot as plt
x = x_train['t_ami'].values[:,np.newaxis]
y = y_train.values
print(y)
plt.scatter(x, y, color='g')
plt.plot(x, regression_model.predict(x), color='k')

plt.show()